/* DIV AND SPAN - used for grouping */
/* div - used to group multipule elements */
/* span - used to group inline content */

.green
{
    color: green;
    background-color: yellow;
}
.red
{
    color: red;
    background-color: black;
}
span
{
    display: black;
    text-transform: uppercase;
}

