h1,p
{
    color: white;
}
h1
{
    background: red;
    padding: 20px;
  border-color:greenyellow;
  border-style: dotted;
  border-top-width: 10px;
  border-right-width: 20px;
  border-bottom-width: 30px;
  border-left-width: 40px;
}
p
{
    background: blue;
    border: 1rem dashed red;
    padding: 5px 20px 50px 40px;

}