/* color propaties */
/* color background-color background */
/* html/css there about 140 named colors */
#first
{
    color: white;
    background-color: black;
}
#second
{
    color: red;
    background-color: yellow;
}